<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>LapHQ</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css?v=3.4">

    <style>
        .search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 1000;
    display: none;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
    </style>
</head>

<body>
    <!-- Quick view -->
    
    
    <header class="header-area header-style-4 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <!-- <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li> -->
                                <li><i class="fi-rs-marker"></i><a  href="/contactPage">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="/shop">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trending Offers on Laptops <a href="/shop">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="assets/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="assets/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="assets/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <% if (req.session.user_id) { %>
                                    <span> <h5>Welcome,</h5> <h5><%= req.session.userName %></h5></span>
                                    <% } %>
                                
                                    <% if (req.session.user_id) { %>
                                        
                                        <!-- If user is logged in -->

                                        <li class="dropdown nav-item">
                                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="/account" id="dropdownAccount" aria-expanded="false"> <img  class="img-xs rounded-circle" style="width:35px;"  src="/assets2/imgs/people/user.png" alt="User"></a>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                                <a class="dropdown-item" href="/account"><i class="material-icons md-perm_identity"></i>profile</a>
                                                <!-- <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a> -->
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                                            </div>
                                        </li>
                                        <!-- <a href="/logout">Logout</a> -->
                                        
                                    <% } else { %>
                                        <!-- If user is not logged in -->
                                        <a href="/login">Login</a>
                                    <% } %>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/home"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#" id="searchForm">
                                <!-- <select class="select-active">
                                    <option>All Categories</option>
                                    <option>Women's</option>
                                    <option>Men's</option>
                                    <option>Cellphones</option>
                                    <option>Computer</option>
                                    <option>Electronics</option>
                                    <option> Accessories</option>
                                    <option>Home & Garden</option>
                                    <option>Luggage</option>
                                    <option>Shoes</option>
                                    <option>Mother & Kids</option>
                                </select> -->
                                <input type="text" placeholder="Search for items..." id="searchInput" autocomplete="off">
                                <button type="submit"><i class="fi-rs-search"></i></button>
                                <div id="searchSuggestions" class="search-suggestions"></div>
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                        <!-- <span class="pro-count blue">4</span> -->
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                        <!-- <span class="pro-count blue">2</span> -->
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/home"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="/home">
                                <span class="fi-rs-apps"></span>
                                All
                            </a>
                            <!-- <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Laptops</a></li>
                                    <li class="has-children">
                                        <a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Laptop Categories</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-6">
                                                    <ul>
                                                        <li><span class="submenu-title">By Brand</span></li>
                                                        <li><a href="#">Dell</a></li>
                                                        <li><a href="#">HP</a></li>
                                                        <li><a href="#">Lenovo</a></li>
                                                        <li><a href="#">Asus</a></li>
                                                        <li><a href="#">Acer</a></li>
                                                        <li><a href="#">MSI</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-6">
                                                    <ul>
                                                        <li><span class="submenu-title">By Type</span></li>
                                                        <li><a href="#">Gaming Laptops</a></li>
                                                        <li><a href="#">Ultrabooks</a></li>
                                                        <li><a href="#">2-in-1 Laptops</a></li>
                                                        <li><a href="#">Business Laptops</a></li>
                                                        <li><a href="#">Chromebooks</a></li>
                                                        <li><a href="#">Student Laptops</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Laptop Accessories</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Computer Components</a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="/shop">Shop</a>
                                    </li>
                                    <li>
                                        <a href="page-about.html">About</a>
                                    </li>
                                    
                                    <!-- <li class="position-static"><a href="#">categories <i class="fi-rs-angle-down"></i></a>
                                        <ul class="mega-menu">
                                            <li class="sub-mega-menu sub-mega-menu-width-22">
                                                <a class="menu-title" href="#">by type</a>
                                                <ul>
                                                    <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                                    <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                                    <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                                    <li><a href="shop-product-right.html">2 in 1 laptops</a></li>
                                                    <li><a href="shop-product-right.html">office laptops</a></li>
                                                    <li><a href="shop-product-right.html">Cosplay Costumes</a></li>
                                                </ul>
                                            </li>
                                            <li class="sub-mega-menu sub-mega-menu-width-22">
                                                <a class="menu-title" href="#">Laptop Accessories</a>
                                                <ul>
                                                    <li><a href="shop-product-right.html">Laptop Bags</a></li>
                                                    <li><a href="shop-product-right.html">Laptop stands</a></li>
                                                    <li><a href="shop-product-right.html">Laptop Docking Stations</a></li>
                                                    <li><a href="shop-product-right.html">External Hard Drives</a></li>
                                                    <li><a href="shop-product-right.html">Laptop Cooling Pads</a></li>
                                                    <li><a href="shop-product-right.html">Laptop Stands</a></li>
                                                </ul>
                                            </li>

                                            <li class="sub-mega-menu sub-mega-menu-width-34">
                                                <div class="menu-banner-wrap">
                                                    <a href="shop-product-right.html"><img src="assets/imgs/banner/menu-banner.jpg" alt="Evara"></a>
                                                    <div class="menu-banner-content">
                                                        <h4>Hot deals</h4>
                                                        <h3>Don't miss<br> Trending</h3>
                                                        <div class="menu-banner-price">
                                                            <span class="new-price text-success">Save to 50%</span>
                                                        </div>
                                                        <div class="menu-banner-btn">
                                                            <a href="shop-product-right.html">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="menu-banner-discount">
                                                        <h3>
                                                            <span>35%</span>
                                                            off
                                                        </h3>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li> -->

                                    <!-- <li>
                                        <a href="page-contact.html">Contact</a>
                                    </li> -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span><a href="page-contact.html">Contact</a></span> info </p>
                    </div>
                    <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count white">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                    <!-- <span class="pro-count white">2</span> -->
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/home"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Laptops</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Laptop Accessories</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Computer Components</a></li>
                                <!-- <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Tablets</a></li> -->
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Notebook Accessories</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Gaming Peripherals</a></li>
                                <!-- <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Software</a></li> -->
                                <!-- <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Services</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <!-- ... -->
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">Shop</a>
                                <ul class="dropdown">

                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Laptop Categories</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultrabooks</a></li>
                                            <li><a href="shop-product-right.html">2-in-1 Laptops</a></li>
                                            <li><a href="shop-product-right.html">Business Laptops</a></li>
                                            <li><a href="shop-product-right.html">Chromebooks</a></li>
                                            <li><a href="shop-product-right.html">Student Laptops</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Laptop Brands</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dell</a></li>
                                            <li><a href="shop-product-right.html">HP</a></li>
                                            <li><a href="shop-product-right.html">Lenovo</a></li>
                                            <li><a href="shop-product-right.html">Asus</a></li>
                                            <li><a href="shop-product-right.html">Acer</a></li>
                                            <li><a href="shop-product-right.html">MSI</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                    <li><a href="shop-product-right.html">Computer Components</a></li>

                                </ul>
                            </li>
                            <!-- ... -->
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/register">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        
document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('searchInput');
    const searchSuggestions = document.getElementById('searchSuggestions');
    const searchForm = document.getElementById('searchForm');

    let debounceTimer;

    searchInput.addEventListener('input', function() {
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(() => {
            const query = this.value.trim();
            if (query.length > 2) {
                fetch(`/search?q=${encodeURIComponent(query)}`)
                    .then(response => response.json())
                    .then(products => {
                        searchSuggestions.innerHTML = '';
                        products.forEach(product => {
                            const div = document.createElement('div');
                            div.className = 'suggestion-item';
                            div.textContent = product.name;
                            div.addEventListener('click', () => {
                                window.location.href = `/productDetails?id=${product._id}`;
                            });
                            searchSuggestions.appendChild(div);
                        });
                        searchSuggestions.style.display = products.length ? 'block' : 'none';
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                searchSuggestions.style.display = 'none';
            }
        }, 300);
    });

    document.addEventListener('click', function(e) {
        if (!searchSuggestions.contains(e.target) && e.target !== searchInput) {
            searchSuggestions.style.display = 'none';
        }
    });

    searchForm.addEventListener('submit', function(e) {
        e.preventDefault();
        const query = searchInput.value.trim();
        if (query) {
            window.location.href = `/shop?search=${encodeURIComponent(query)}`;
        }
    });
});
    </script>