<%- include("../partials/homepage/userHeader") %>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/home" rel="nofollow">Home</a>
                <span></span> Contact us
            </div>
        </div>
    </div>
    <section class="hero-2 bg-blue">
        <div class="hero-content">
            <div class="container">
                <div class="text-center">
                    <h4 class="text-brand mb-20">Get in touch</h4>
                    <h1 class="mb-20 wow fadeIn animated font-xxl fw-900">
                        Let's Talk About <br>Your <span class="text-style-1">Perfect Laptop</span>
                    </h1>
                    <p class="w-50 m-auto mb-50 wow fadeIn animated">We're here to help you find the ideal laptop for your needs. Whether you're a student, professional, gamer, or casual user, we have the perfect device for you.</p>
                    <p class="wow fadeIn animated">
                        <a class="btn btn-brand btn-lg font-weight-bold text-white border-radius-5 btn-shadow-brand hover-up" href="/home">More</a>
                        <!-- <a class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white ml-15 border-radius-5 btn-shadow-brand hover-up">Tech Support</a> -->
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-border pt-50 ">
        <div class="container">
            <div class="row">
                
                <div class="col-md-4">
                    <h4 class="mb-15 text-brand">Online Support</h4>
                    Available 24/7<br>
                    Chat with our tech experts<br>
                    <abbr title="Phone">Number:</abbr> 12345 67890<br>
                    <abbr title="Email">Email: </abbr>laphq11@gmail.com<br>
                    <!-- <a class="btn btn-outline btn-sm btn-brand-outline font-weight-bold text-brand bg-white text-hover-white mt-20 border-radius-5 btn-shadow-brand hover-up"> <i class="fi-rs-headphones mr-10"></i> Start Live Chat</a> -->
                </div>
            </div>
        </div>
    </section>
    
</main>
<%- include("../partials/homepage/userFooter") %>